.factura-card {
    margin-bottom: 24px;
  }
  
  .invoice-summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .invoice-summary-row.total {
    font-size: 1.1em;
    margin-top: 8px;
  }
  
  @media (max-width: 992px) {
    .factura-card {
      margin-bottom: 16px;
    }
  }